<p id="notice"><%= notice %></p>

<p>
  <b>Example:</b>
  <%= @example.example %>
</p>

<p>
  <b>Translated:</b>
  <%= @example.translated %>
</p>

<p>
  <b>Meaning:</b>
  <%= @example.meaning_id %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
